body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #61afee;
}
